body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.main-window {
  background: white;
  border-radius: 35px;
  width: 100%;
  padding: 1.5em;
  max-width: 460px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5em;
  border-radius: 30px;
  border: none;
  height: 1.8em;
}

button:hover {
  background: silver;
  cursor: pointer;
}

input.search-bar {
  border-radius: 30px;
  padding: 0.1em;
}
